@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #283333;
    color: white;
}

header {
    background-color: #5AB1AE;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-top: 2px solid black;
}

a:hover {
    background-color: #5A8685;
}

main {
    width: 90vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    text-align: center;
    padding-bottom: 20px;
}

article p {
   text-align: justify;
   margin-bottom: 20px;
   text-indent: 20px;
   font-weight: normal;
}

article p > mark {
    background-color: rgba(255, 0, 0, 0.562);
}

span#burguer:hover {
    background-color: #5A8685;
}

span#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}